body.rtl {
  direction: rtl;
}

.rtl .form-horizontal .control-label{
  float: right;
}

.rtl .dl-horizontal dt{
  float: right;
  clear: right;
}

body.ltr {
  direction: ltr;
}

.ltr .form-horizontal .control-label{
  float: left;
}

.ltr .dl-horizontal dt{
  float: left;
  clear: left;
}

.rtl td
{
    text-align:right;
}

.rtl th
{
    text-align:right;
}

dt, dd{
  min-height: 20px;
}

.field_with_errors {
  color:red;
}
