body.rtl {
  direction: rtl;
}

.rtl .form-horizontal .control-label{
  float: right;
}

.rtl .dl-horizontal dt{
  float: right;
  clear: right;
}

body.ltr {
  direction: ltr;
}

.ltr .form-horizontal .control-label{
  float: left;
}

.ltr .dl-horizontal dt{
  float: left;
  clear: left;
}

dt, dd{
  min-height: 20px;
}